<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>引导页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css" />
		
		<style type="text/css">
			body {
				background-color: black;
			}
			
			.guide-img {
				width: 100%;
			}
			
			#btnStart {
				position: absolute;
				bottom: 30px;
				width: 60%;
				left: 20%;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div class="mui-slider mui-fullscreen">
				<div class="mui-slider-group">
					<div class="mui-slider-item">
						<a href="javascript:;">
							<img class="guide-img" src="../../../img/guide/guide0.png">
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="javascript:;">
							<img class="guide-img" src="../../../img/guide/guide1.png">
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="javascript:;">
							<img class="guide-img" src="../../../img/guide/guide2.png">
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="javascript:;">
							<img class="guide-img" src="../../../img/guide/guide3.png">
							<button class="mui-btn mui-btn-white type="button" id="btnStart" EN="Start now!">立即开始体验</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../../js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/guide/GuideJS.js" type="text/javascript" charset="utf-8"></script>

</html>