USE [master]
GO
/****** Object:  Database [HRAM-SNU_DB]    Script Date: 2017/2/19 20:57:06 ******/
CREATE DATABASE [HRAM-SNU_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRAM-SNU_DB', FILENAME = N'C:\Database\HRAM-SNU_DB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HRAM-SNU_DB_log', FILENAME = N'C:\Database\HRAM-SNU_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRAM-SNU_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRAM-SNU_DB]
GO
/****** Object:  Table [dbo].[T_ADImgList]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ADImgList](
	[pk_id] [nvarchar](50) NOT NULL,
	[PM_ADImgListID] [nvarchar](50) NOT NULL,
	[PM_ADImgListURL] [nvarchar](50) NOT NULL,
	[PM_ADImgListNum] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_ADImgList] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_DMType]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DMType](
	[pk_id] [nvarchar](50) NOT NULL,
	[DM_TypeID] [nvarchar](50) NOT NULL,
	[DM_TypeValue] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_DMType] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_DownloadManage]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DownloadManage](
	[pk_id] [nvarchar](50) NOT NULL,
	[U_LoginName] [nvarchar](50) NOT NULL,
	[DM_Title] [nvarchar](50) NOT NULL,
	[DM_TypeID] [nvarchar](50) NOT NULL,
	[DM_FileURL] [nvarchar](50) NOT NULL,
	[DM_DownloadNum] [bigint] NULL,
	[DM_UploadTime] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_DownloadManage] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_FriendlyLink]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FriendlyLink](
	[pk_id] [nvarchar](50) NOT NULL,
	[U_LoginName] [nvarchar](50) NOT NULL,
	[FL_Name] [nvarchar](50) NOT NULL,
	[FL_URL] [nvarchar](100) NOT NULL,
	[FL_ImgURL] [nvarchar](100) NOT NULL,
	[FL_AddTime] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_FriendlyLink] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Member]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Member](
	[pk_id] [nvarchar](50) NOT NULL,
	[U_LoginName] [nvarchar](50) NOT NULL,
	[M_ReviewResultID] [nvarchar](50) NOT NULL,
	[M_ApplyTime] [nvarchar](50) NOT NULL,
	[M_Name] [nvarchar](50) NOT NULL,
	[M_TypeID] [nvarchar](50) NOT NULL,
	[M_OrganizationCode] [nvarchar](50) NOT NULL,
	[M_Address] [nvarchar](200) NOT NULL,
	[M_CorporateName] [nvarchar](50) NOT NULL,
	[M_IDCardNo] [nvarchar](50) NOT NULL,
	[M_Contacts] [nvarchar](50) NOT NULL,
	[M_ContactsPhone] [nvarchar](50) NOT NULL,
	[M_Summary] [text] NULL,
	[M_ImgURL] [nvarchar](100) NULL,
	[M_URL] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_T_Members] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_MemberType]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MemberType](
	[pk_id] [nvarchar](50) NOT NULL,
	[M_TypeID] [nvarchar](50) NOT NULL,
	[M_TypeValue] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_MemberType] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_PMType]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PMType](
	[pk_id] [nvarchar](50) NOT NULL,
	[PM_TypeID] [nvarchar](50) NOT NULL,
	[PM_TypeValue] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_PMType] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_PublishManage]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PublishManage](
	[pk_id] [nvarchar](50) NOT NULL,
	[U_LoginName] [nvarchar](50) NOT NULL,
	[PM_Title] [nvarchar](50) NULL,
	[PM_TypeID] [nvarchar](50) NOT NULL,
	[PM_ADImgListID] [nvarchar](50) NULL,
	[PM_PublishTime] [nvarchar](50) NOT NULL,
	[PM_Views] [bigint] NULL,
	[PM_Text] [text] NULL,
	[PM_Preview] [bit] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_PublishManage] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_ReviewResult]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ReviewResult](
	[pk_id] [nvarchar](50) NOT NULL,
	[M_ReviewResultID] [nvarchar](50) NOT NULL,
	[M_ReviewResultValue] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_ReviewResult] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SysModule]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SysModule](
	[pk_id] [int] IDENTITY(1,1) NOT NULL,
	[M_Name] [nvarchar](50) NULL,
	[M_LinkUrl] [nvarchar](100) NULL,
	[M_Icon] [nvarchar](100) NULL,
	[M_ParentNo] [int] NULL,
	[M_Sort] [int] NULL,
	[M_IsVisible] [bit] NULL,
	[M_IsMenu] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[M_Controller] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Sys_Module] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_User]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_User](
	[pk_id] [nvarchar](50) NOT NULL,
	[U_LoginName] [nvarchar](50) NOT NULL,
	[U_LoginTypeID] [nvarchar](50) NOT NULL,
	[U_Password] [nvarchar](50) NOT NULL,
	[U_UserName] [nvarchar](50) NOT NULL,
	[U_Phone] [nvarchar](50) NULL,
	[U_MaiBox] [nvarchar](50) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_Admin] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_UserType]    Script Date: 2017/2/19 20:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_UserType](
	[pk_id] [nvarchar](50) NOT NULL,
	[U_LoginTypeID] [nvarchar](50) NOT NULL,
	[U_LoginTypeValue] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_UserType] PRIMARY KEY CLUSTERED 
(
	[pk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[T_ADImgList] ([pk_id], [PM_ADImgListID], [PM_ADImgListURL], [PM_ADImgListNum], [IsDeleted]) VALUES (N'22522D03-A3AE-4FCC-8D1F-C21169FAEA70', N'123', N'/upload/publish/201702182354506533.jpg', N'2', 0)
INSERT [dbo].[T_ADImgList] ([pk_id], [PM_ADImgListID], [PM_ADImgListURL], [PM_ADImgListNum], [IsDeleted]) VALUES (N'47A976E0-DC9A-4A63-8FC5-2FA6E0ECA546', N'123', N'123', N'1', 0)
INSERT [dbo].[T_DMType] ([pk_id], [DM_TypeID], [DM_TypeValue], [IsDeleted]) VALUES (N'5B7FD07B-16C3-48DB-BC0F-D7C2B4401F68', N'scdsc', N'esdfs', 0)
INSERT [dbo].[T_DMType] ([pk_id], [DM_TypeID], [DM_TypeValue], [IsDeleted]) VALUES (N'653DC690-3C28-481B-A12F-EF4011E80000', N'2003', N'表格', 0)
INSERT [dbo].[T_DMType] ([pk_id], [DM_TypeID], [DM_TypeValue], [IsDeleted]) VALUES (N'D2572298-BC95-4B3A-A77D-433580462A21', N'2002', N'简历模板', 0)
INSERT [dbo].[T_DownloadManage] ([pk_id], [U_LoginName], [DM_Title], [DM_TypeID], [DM_FileURL], [DM_DownloadNum], [DM_UploadTime], [IsDeleted]) VALUES (N'1ABB624C-485F-4BBC-9EEB-E44C3CCC099F', N'dsfg', N'dsfg', N'2001', N'System.Web.HttpPostedFileWrapper', 0, N'2017-02-01 16:44:57', 0)
INSERT [dbo].[T_DownloadManage] ([pk_id], [U_LoginName], [DM_Title], [DM_TypeID], [DM_FileURL], [DM_DownloadNum], [DM_UploadTime], [IsDeleted]) VALUES (N'8DBB4F04-6D06-44DE-ACA1-765492782D5E', N'dfhg', N'fghd', N'scdsc', N'dfh', 0, N'2017-02-08 16:43:21', 0)
INSERT [dbo].[T_DownloadManage] ([pk_id], [U_LoginName], [DM_Title], [DM_TypeID], [DM_FileURL], [DM_DownloadNum], [DM_UploadTime], [IsDeleted]) VALUES (N'CD3D823A-5919-422D-8386-E95B577D3EC9', N'123', N'123', N'scdsc', N'/upload/download/files/201702190915246989.docx', 0, N'2017-02-01 09:15:17', 0)
INSERT [dbo].[T_FriendlyLink] ([pk_id], [U_LoginName], [FL_Name], [FL_URL], [FL_ImgURL], [FL_AddTime], [IsDeleted]) VALUES (N'F6081C23-3B80-4967-8A6F-2AFDF8EB02C3', N'123', N'12123', N'123', N'123213', N'2017-02-19 10:53:16', 0)
INSERT [dbo].[T_Member] ([pk_id], [U_LoginName], [M_ReviewResultID], [M_ApplyTime], [M_Name], [M_TypeID], [M_OrganizationCode], [M_Address], [M_CorporateName], [M_IDCardNo], [M_Contacts], [M_ContactsPhone], [M_Summary], [M_ImgURL], [M_URL], [IsDeleted]) VALUES (N'58238963-BB86-45F9-A8F7-42514381E00B', N'123', N'0002', N'123', N'123', N'30001', N'123', N'123', N'123', N'123', N'123', N'123', N'123', NULL, N'123', NULL)
INSERT [dbo].[T_MemberType] ([pk_id], [M_TypeID], [M_TypeValue], [IsDeleted]) VALUES (N'0EC11004-07FF-47DF-8C88-5C0AA343563C', N'66666', N'二级会员', 0)
INSERT [dbo].[T_MemberType] ([pk_id], [M_TypeID], [M_TypeValue], [IsDeleted]) VALUES (N'19A35000-F5DE-42A1-90AF-97A9D2743501', N'30001', N'一级会员', 0)
INSERT [dbo].[T_MemberType] ([pk_id], [M_TypeID], [M_TypeValue], [IsDeleted]) VALUES (N'9D4D3630-6552-4483-AEE0-4002293EF7F9', N'30003', N'12313', 0)
INSERT [dbo].[T_PMType] ([pk_id], [PM_TypeID], [PM_TypeValue], [IsDeleted]) VALUES (N'0C726F9B-CE88-45A3-89A6-4688AB74E050', N'1001', N'社会保障', 0)
INSERT [dbo].[T_PMType] ([pk_id], [PM_TypeID], [PM_TypeValue], [IsDeleted]) VALUES (N'0F0FB851-CD91-4453-86DA-E083798A9EB8', N'1002', N'1332', 0)
INSERT [dbo].[T_ReviewResult] ([pk_id], [M_ReviewResultID], [M_ReviewResultValue], [IsDeleted]) VALUES (N'1CC66838-9680-4539-BE4B-43935C3F2221', N'0003', N'审核未通过', 0)
INSERT [dbo].[T_ReviewResult] ([pk_id], [M_ReviewResultID], [M_ReviewResultValue], [IsDeleted]) VALUES (N'207FC595-5385-44BD-9359-20805882F50E', N'0001', N'待审核', 0)
INSERT [dbo].[T_ReviewResult] ([pk_id], [M_ReviewResultID], [M_ReviewResultValue], [IsDeleted]) VALUES (N'8949D434-A427-4A1D-95E4-D67EC827F909', N'0002', N'审核通过', 0)
SET IDENTITY_INSERT [dbo].[T_SysModule] ON 

INSERT [dbo].[T_SysModule] ([pk_id], [M_Name], [M_LinkUrl], [M_Icon], [M_ParentNo], [M_Sort], [M_IsVisible], [M_IsMenu], [IsDeleted], [M_Controller]) VALUES (0, N'根目录', NULL, NULL, -1, NULL, 1, 1, 0, NULL)
INSERT [dbo].[T_SysModule] ([pk_id], [M_Name], [M_LinkUrl], [M_Icon], [M_ParentNo], [M_Sort], [M_IsVisible], [M_IsMenu], [IsDeleted], [M_Controller]) VALUES (1, N'基本功能', NULL, N'/Images/icons/32X32/ico_type.png', 0, 1, 1, 1, 0, NULL)
INSERT [dbo].[T_SysModule] ([pk_id], [M_Name], [M_LinkUrl], [M_Icon], [M_ParentNo], [M_Sort], [M_IsVisible], [M_IsMenu], [IsDeleted], [M_Controller]) VALUES (2, N'系统管理', NULL, N'/Images/icons/32X32/ico_setting.png', 0, 2, 1, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[T_SysModule] OFF
INSERT [dbo].[T_User] ([pk_id], [U_LoginName], [U_LoginTypeID], [U_Password], [U_UserName], [U_Phone], [U_MaiBox], [IsDeleted]) VALUES (N'0A6039BF-6527-4C72-9E09-F63EAF080F7F', N'123', N'0002', N'202CB962AC59075B964B07152D234B70', N'123', N'123', N'123', 0)
INSERT [dbo].[T_User] ([pk_id], [U_LoginName], [U_LoginTypeID], [U_Password], [U_UserName], [U_Phone], [U_MaiBox], [IsDeleted]) VALUES (N'1B6AE27E-C37B-4C57-99F0-B476436CDFD4', N'admin', N'0001', N'202CB962AC59075B964B07152D234B70', N'徐志坚', N'15196606812', N'ccc.surpass@qq.com', 0)
INSERT [dbo].[T_User] ([pk_id], [U_LoginName], [U_LoginTypeID], [U_Password], [U_UserName], [U_Phone], [U_MaiBox], [IsDeleted]) VALUES (N'38F5600E-008F-4269-919A-0A756CF68E6A', N'fdvx', N'0001', N'76D80224611FC919A5D54F0FF9FBA446', N'qwe', N'qwe', N'qwe', 0)
INSERT [dbo].[T_UserType] ([pk_id], [U_LoginTypeID], [U_LoginTypeValue], [IsDeleted]) VALUES (N'0813851F-549D-430B-B2B0-6F0934DB7E7E', N'0001', N'管理员', 0)
INSERT [dbo].[T_UserType] ([pk_id], [U_LoginTypeID], [U_LoginTypeValue], [IsDeleted]) VALUES (N'3C52C3F2-B354-4498-8D65-4A17D0198271', N'0002', N'普通用户', 0)
INSERT [dbo].[T_UserType] ([pk_id], [U_LoginTypeID], [U_LoginTypeValue], [IsDeleted]) VALUES (N'4A6F009E-C281-4737-8075-676D3449D896', N'0003', N'游客', 0)
ALTER TABLE [dbo].[T_ADImgList] ADD  CONSTRAINT [DF_T_ADImgList_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
ALTER TABLE [dbo].[T_DMType] ADD  CONSTRAINT [DF_T_DMType_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
ALTER TABLE [dbo].[T_DownloadManage] ADD  CONSTRAINT [DF_T_DownloadManage_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
ALTER TABLE [dbo].[T_DownloadManage] ADD  CONSTRAINT [DF_T_DownloadManage_DM_TypeID]  DEFAULT ('-0000') FOR [DM_TypeID]
GO
ALTER TABLE [dbo].[T_DownloadManage] ADD  CONSTRAINT [DF_T_DownloadManage_DM_DownloadNum]  DEFAULT ((0)) FOR [DM_DownloadNum]
GO
ALTER TABLE [dbo].[T_FriendlyLink] ADD  CONSTRAINT [DF_T_FriendlyLink_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
ALTER TABLE [dbo].[T_FriendlyLink] ADD  CONSTRAINT [DF_T_FriendlyLink_FL_ImgURL]  DEFAULT (N'暂无') FOR [FL_ImgURL]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Members_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Member_M_ReviewResultID]  DEFAULT ('-0000') FOR [M_ReviewResultID]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Member_M_TypeID]  DEFAULT ('-0000') FOR [M_TypeID]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Members_M_ImgUrl]  DEFAULT (N'暂无') FOR [M_ImgURL]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Members_M_URL]  DEFAULT (N'暂无') FOR [M_URL]
GO
ALTER TABLE [dbo].[T_MemberType] ADD  CONSTRAINT [DF_T_MemberType_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
ALTER TABLE [dbo].[T_PMType] ADD  CONSTRAINT [DF_T_PMType_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
ALTER TABLE [dbo].[T_PublishManage] ADD  CONSTRAINT [DF_T_PublishManage_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
ALTER TABLE [dbo].[T_PublishManage] ADD  CONSTRAINT [DF_T_PublishManage_PM_TypeID]  DEFAULT ('-0000') FOR [PM_TypeID]
GO
ALTER TABLE [dbo].[T_PublishManage] ADD  CONSTRAINT [DF_T_PublishManage_PM_ADImgListlD]  DEFAULT (N'暂无') FOR [PM_ADImgListID]
GO
ALTER TABLE [dbo].[T_PublishManage] ADD  CONSTRAINT [DF_T_PublishManage_PM_Views]  DEFAULT ((0)) FOR [PM_Views]
GO
ALTER TABLE [dbo].[T_ReviewResult] ADD  CONSTRAINT [DF_T_ReviewResult_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
ALTER TABLE [dbo].[T_User] ADD  CONSTRAINT [DF_T_Admin_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
ALTER TABLE [dbo].[T_User] ADD  CONSTRAINT [DF_T_User_U_LoginTypeID]  DEFAULT ('-0000') FOR [U_LoginTypeID]
GO
ALTER TABLE [dbo].[T_User] ADD  CONSTRAINT [DF_T_Admin_A_Phone]  DEFAULT (N'暂无') FOR [U_Phone]
GO
ALTER TABLE [dbo].[T_User] ADD  CONSTRAINT [DF_T_Admin_A_MaiBox]  DEFAULT (N'暂无') FOR [U_MaiBox]
GO
ALTER TABLE [dbo].[T_UserType] ADD  CONSTRAINT [DF_T_UserType_pk_id]  DEFAULT (newid()) FOR [pk_id]
GO
USE [master]
GO
