@using sl.model
@using sl.extension

@model T_ADImgList
@{
    ViewBag.Title = "编辑广告图片";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
    <table class="msgtable" style="width:100%;height:100%">
        <tr>
            <th>
                图片地址：
            </th>
            <td>
                @if (Model.pkId == null)
                {
                    <input type="file" id="pmADImgListURL" name="pmADImgListURL" />
                }
                else
                {
                    @Html.DisplayFor(m => m.pmADImgListURL)
                }
            </td>
        <tr>
            <th>
                广告图片：
            </th>
            <td id="adPic" colspan="2">
                @if (Model != null && !string.IsNullOrEmpty(Model.pmADImgListURL))
                {
                    <img src="@Model.pmADImgListURL" alt="" />
                }
            </td>
        </tr>

        <tr>
            <th>
                位序：
            </th>
            <td>
                @Html.EasyUiNumberTextBoxFor(m => m.pmADImgListNum)
            </td>
        </tr>
    </table>
</form>

@*<script type="text/javascript">
        $('.btnDelImg').click(function () {
            var url = '@Url.Action("DelImg")';
            var id = $(this).attr('id');

            $.ajax({
                type: 'post',
                url: url,
                data: {
                    id: id
                },
                success: function (data) {
                    //服务器返回响应，根据响应结果
                    $.messager.alert(data.state, data.message);
                    if(data.state == 1){
                        $("#adPic").hide();
                    }
                },
                dataType: "json"
            });
        })
    </script>*@