@using sl.model
@using sl.extension

@model T_Member
@{
    ViewBag.Title = "编辑会员单位简介";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
    <div class="msgtable" title="编辑会员单位简介" style="width:100%;height:100%">
        <div style="padding:10px">
            <script id="M_Summary" name="M_Summary" type="text/plain">
                @Html.Raw(@Model.M_Summary)
            </script>
        </div>
    </div>
</form>

<script type="text/javascript">
    var ue = UE.getEditor('M_Summary', {
        initialFrameWidth: '95%',
        initialFrameHeight: 360
    });
</script>