@using sl.model
@using sl.extension

@model T_PublishManage
@{
    ViewBag.Title = "编辑发布正文";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
        <div class="msgtable" title="编辑发布正文" style="width:100%;height:100%">
            <tr>
                <th>
                    标题：
                </th>
                <td>
                    @Html.InputFor(m => m.pmTitle)
                </td>
            </tr>


        <div style="padding:10px">
            <script id="pmText" name="pmText" type="text/plain">
                @Html.Raw(@Model.pmText)
            </script>
        </div>
    </div>
</form>

<script type="text/javascript">
    var ue = UE.getEditor('pmText', {
        initialFrameWidth: '95%',
        initialFrameHeight: 360
    });
</script>