@using sl.model
@using sl.extension

@model T_DMType
@{
    ViewBag.Title = "编辑下载类型";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
        <table class="msgtable" title="编辑下载类型" style="width:100%;height:100%">
            <tr>
                <th style="width: 130px">
                    下载类型名称：
                </th>
                <td>
                    @Html.InputFor(m => m.dmTypeValue, Html.Valid().Required("请输入下载类型").Remote(Url.Action("CheckDMTypeIsExist"), "dmTypeValue").AsHtmlAttribute())
            </tr>
        </table>
</form>
