@using sl.model
@using sl.extension

@model T_ReviewResult
@{
    ViewBag.Title = "编辑审核结果类型";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
        <table class="msgtable" title="编辑审核结果类型" style="width:100%;height:100%">
            <tr>
                <th style="width: 130px">
                    审核结果：
                </th>
                <td>
                    @Html.InputFor(m => m.mReviewResultValue, Html.Valid().Required("请输入审核结果！").Remote(Url.Action("CheckReviewResultIsExist"), "mReviewResultValue").AsHtmlAttribute())
            </tr>
        </table>
</form>
