<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Scripts/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/Content/loaders.css" rel="stylesheet" />
    @* 要先引入JQuery *@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    @RenderBody()
</body>
</html>
