@using sl.model
@using sl.extension

@model T_MemberType
@{
    ViewBag.Title = "编辑会员类型";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
        <table class="msgtable" title="编辑会员类型" style="width:100%;height:100%">
            <tr>
                <th style="width: 130px">
                    会员类型名称：
                </th>
                <td>
                    @Html.InputFor(m => m.mTypeValue, Html.Valid().Required("请输入会员类型").Remote(Url.Action("CheckMTypeIsExist"), "mTypeValue").AsHtmlAttribute())
            </tr>
        </table>
</form>
