@using sl.model
@using sl.extension

@model T_MemberType
@{
    ViewBag.Title = "编辑会员类型";
    Layout = "~/Areas/Manager/Views/Shared/ManagerLayout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
    <div class="easyui-panel" title='&nbsp;' collapsible="true">
        <table class="msgtable">
            <tr>
                <th>
                    会员类型ID：
                </th>
                <td>
                    @Html.InputFor(m => m.M_TypeID, new { type = "number" })
                </td>
            </tr>
            <tr>
                <th style="width: 130px">
                    会员类型名称：
                </th>
                <td>
                    @Html.InputFor(m => m.M_TypeValue)
            </tr>

        </table>
    </div>
</form>
