@using sl.model
@using sl.extension

@model T_ReviewResult
@{
    ViewBag.Title = "编辑审核结果类型";
    Layout = "~/Areas/Manager/Views/Shared/ManagerLayout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
    <div class="easyui-panel" title='&nbsp;' collapsible="true">
        <table class="msgtable">
            <tr>
                <th>
                    审核结果ID：
                </th>
                <td>
                    @Html.InputFor(m => m.M_ReviewResultID, new { type = "number", min = "0" })
                </td>
            </tr>
            <tr>
                <th style="width: 130px">
                    审核结果：
                </th>
                <td>
                    @Html.InputFor(m => m.M_ReviewResultValue)
            </tr>

        </table>
    </div>
</form>
