@charset "utf-8";
/* CSS Document */

*
{
	margin:0;
	padding:0;
    font-size:12px;
}
a{	text-decoration:none;}
a:link,a:visited
{
	color:#000;
}
a:hover,a:active
{
	color:#0041cc;
}
.UI
{
	width:1380px;
}
#UI
{
	width:100%;
	margin:0 auto;
	height:1220px;
}
#color
{
	width:100%;
	height:300px;
	background-image:linear-gradient(#09F,#FFF);
}
/*****************以上都是全局样式***********************/
header
{
	width:100%;
	height:150px;
	/*background-image:url(images/bj.jpg);*/
	background-image:linear-gradient( #09F,#FFF);
	position:relative;
}
header h1
{
	font-size:36px;
	padding-top:40px;
	margin-left:350px;
}
header h5
{
	margin-left:350px;	
}
.login,.manage,.reg
{
	float:left;
	margin:5px;
}
/********************************遮罩样式*******************************/
#screen
{
	position:absolute;
	top:0px;
	left:0px;
	background:#000;
	z-index:9998;
	filter:alpha(opacity=30);/*IE浏览器*/
	opacity:0.3;/*火狐谷歌*/
	display:none;
	
	
	
}
/*******************登录模块********************************/
 #header_right
{
	position:absolute;
	top:5px;
	right:100px;
	
}


#login {
	width:350px;
	height:250px;
	border:1px solid #ccc;
	position:absolute;
	background:#FFF;
	display:none;
	z-index:9999;
}
#login h2 {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(images/login_header.png) repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
}
#login h2 img {
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#login div.user, #login div.pass {
	font-size:14px;
	color:#666;
	padding:5px 0;
	text-align:center;
}
#login input.text {
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
}
#login .button {
	text-align:center;
	padding:20px 0;
}
#login input.submit {
	width:107px;
	height:30px;
	background:url(images/login_button.png) no-repeat;
	border:none;
	cursor:pointer;
}
#login .other {
	text-align:right;
	padding:15px 10px;
	color:#666;
}



/*****************************导航样式********************************/
#nav
{
	width:100%;
	height:60px;
	/*background-image:linear-gradient(to top, #CCC,#FFF);*/
	background-image:linear-gradient(to top, #06F,#FFF);

}
#nav #first 
{
	margin-left:125px;
}


#nav #first li  
{
	list-style:none;
	display:inline;
	float:left;
	width:120px;
	margin-left:-10px;
}
#nav #first li a 
{
	font-size:18px;
	display:block;
	width:110px;
	height:45px;
	border-radius:15px;
	-moz-border-radius:15px; /* Old Firefox */
	margin-top:8px;
	line-height:45px;
	text-align:center;

	
}
.on,#nav li a:hover,#nav li a:active
{
	background-color:#FFF;
}

.search_text
{
	margin-left:50px;	
	height:30px;
	margin-top:15px;
	background:url(images/bj2.jpg) no-repeat right center;
	background-size:23px 23px;
	background-color:#FFF;
	padding-right:25px;
	border:#FFF 1px solid;
	
}
#nav_right span
{
	font-size:18px;
	float:left;
	margin-left:220px;
	margin-top:-30px;
}
/**************************************导航二级菜和三级菜单单样式**************************/
.nav_li1 ,.nav_li5,.nav_li6,.second2_li1,.second2_li2
{
    cursor:pointer;
	position:relative;
}
.second1,.second2,.second3
{
    width:110px;
	height:120px;
	position:absolute;
	top:55px;
	background-image:linear-gradient( #06F,#FFF);
	z-index:2;
	display:none;
	border-radius:15px;
	-moz-border-radius:15px; /* Old Firefox */
}
.second1 li a,.second2 li a,.second3 li a,.third1 li a ,.third2 li a
{
	display:block;
	margin-left:10px;
}
.second2,.second3
{
	z-index:4;
}
.third1,.third2
{
    width:110px;
	position:absolute;
	top:1px;
	left:120px;
	background-image:linear-gradient(to right ,#FFF,#06F);
	z-index:2;
	display:none;
	border-left:none;
	border-radius:15px;
	-moz-border-radius:15px; /* Old Firefox */
}

/******************************页脚样式*******************************/
footer
{   
    text-align:center;
	width:100%;
	height:100px;
	margin-top:40px;
	padding-top:40px;
	background-image:linear-gradient(to top,#09F,#FFF);
}


/**************************公告样式*******************/
#content
{
	margin-left:115px;
	width:1150px;
	height:370px;
	
}
#inform
{
	width:300px;
	height:340px;
	float:left;
	border: solid 1px #C0C0C0;
	background:#FFF;
	margin-top:20px;
}
#inform h3
{
	height:40px;
	background-image:linear-gradient(to top ,#999,#FFF);
	line-height:40px;
	font-size:18px;
	color:#0041cc;
	text-indent:20px;
	border-bottom: solid 1px #0041cc;
}
#inform h3 a
{
	float:right;
	color:#000;
}
#inform h3 a:hover
{
	color:#F00;
}
#moocbox
{
	height:290px;
	width:300px;
	/*超出隐藏*/
    overflow: hidden; 
	white-space:nowrap; 
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis; 
}

#inform ul li
{
	text-indent:10px;
	list-style:none;
}
#inform ul li a
{
	display:block;
	margin-top:10px;
	font-size:15px;
}
/****************************轮播图样式************************************/
#Slideshow
{
	height:334px;
	float:left;
	overflow:hidden;
	width:500px;
	margin-left:8px;
	margin-top:20px;
}
#news
{
	width:330px;
	height:340px;
	float:right;
	overflow:hidden;
	border:solid 1px  #C0C0C0;
	background:#FFF;
	margin-top:20px;
}
#news #news_ul
{
	height:40px;
	background-image:linear-gradient(to top ,#999,#FFF);
}
#news #news_ul .news_bar
{
	display:block;
	list-style:none;
	float:left;
	position:relative;
	border-bottom:solid 1px #0041cc;	
	width:162px;
	height:40px;
}
#news #news_ul .news_bar #news_bar_a
{
    text-align:center;
    font-size:18px;
	line-height:40px;	
	display:block;
	width:162px;
	height:40px;
	
}
#news #news_ul .news_bar:hover,#news #news_ul .news_bar:active
{
	color:#00F;
	background-color:#FFF;
	border-bottom:none;
}

#news .news_content
{
	position:absolute;
	top:40px;
	width:330px;
	height:300px;
	
	z-index:4;
	
}
#news_second2
{
	display:none;
	background:#FFF;
	z-index:5;
}
#news .news_content li
{
	list-style:none;
}
#news .news_content li a
{
	display:block;
	float:none;
	margin-top:10px;
	font-size:15px;
	text-indent:10px;
}
#news  #news_second2
{
	position:absolute;
	left:-162px;
}


/*
#policyReglation
{
	height:40px;
	background-color:#ECEAEB;
}
#policyReglation li
{
	list-style:none;
	float:left;

}
#policyReglation li a 
{
	text-align:center;
    font-size:18px;
	line-height:40px;	
	display:block;
	width:162px;
	height:40px;
	border-bottom:solid 1px #0041cc;
	
}
#sidbar li a:hover,#sidbar li a:active
{
	color:#00F;
	border-top:solid 2px #0041cc;
	border-left:solid 1px #0041cc;
	border-right:solid 1px #0041cc;
	border-bottom:solid 2px  #FFFFFF;
	background-color:#FFF;
}
*/
/*********************************服务大厅样式************************************/
/*#loby_title h3
{
	width:1150px;
	height:45px;
    font-size:18px;
	color:#0041cc;
	text-indent:300px;
	line-height:45px;
	margin-left:115px;
	margin-top:20px;
	background-color: #ECEAEB;
	border:solid 1px  #999999;

}*/
#contents
{
	margin-left:115px;
	width:1150px;
	height:560px;
}

#service_loby
{
	width:650px;
	border:solid 1px #999999;
	float:left;
	margin-top:20px;
	background:#FFF;
}
.loby_bar,#members_bar
{
	height:40px;
	background-image:linear-gradient(to top ,#999,#FFF);	
	border-bottom:solid 1px  #0041cc;
}	
.loby_bar span
{
	font-size:18px;
	display:block;
	width:100px;
	height:40px;
	border-top:solid 2px #0041cc; 
	text-align:center;
	line-height:40px;
	background-color:#FFF;
}
#search
{
	height:250px;
} 
#service 
{height:190px;}


#service ul ,#search ul
{
	float:left;
	margin-left:80px;
} 
#service ul li,#search ul li
{
	
	list-style:none;
}
#service ul li a,#search ul li a
{
	display:block;
	font-size:16px;
	overflow:hidden;
	margin-top:30px;
	height:40px;
	width:100px;
	line-height:40px;
	text-align:center;
	border-radius:15px;
	-moz-border-radius:25px; /* Old Firefox */
}
#service ul li a:hover,#search ul li a:hover
{
	background:#03a9f4;
	color:#FFF;
}
/**************************************会员单位样式*********************************/
#members
{
	width:476px;
	border:solid 1px  #999999;
	float:right;
	margin-top:20px;
	margin-left:20px;
	height:520px;	
	background:#FFF;	
}
#members_bar h3 
{
	font-size:18px;
	width:100px;
	height:40px;
	border-top:solid 2px #0041cc; 
	text-align:center;
	line-height:40px;
	background-color:#FFF;
	
}
#members_list
{
	height:410px;
}
#members_list ul li
{
	list-style:none;
    margin-top:20px;
	text-indent:18px;
}
#members_list ul li a
{
	font-size:16px;
}
#members_list ul li a span
{
	float:right;
	font-size:14px;
	color:#666;
	margin-right:35px;
}

#slide
{
	margin-top:20px;
	height:100px;
	width:1150px;
	margin-left:115px;
	background-color:#FFF;	
	border:solid 1px #CCCCCC;
}
#slide li
{
	list-style:none;
	float:left;
	margin-right:3px;
}
/***************************校园滑动连接样式***************************************/
#demotp
{
	margin-left:115px;
	overflow:hidden;
	width:1146px;
	height:124px;
	text-align:center;
	border:1px solid #999;
	margin-top:20px;
	background-image:linear-gradient(#CCC,#FFF);
}
#demotp #same td
{
	width:198px; 
	height:124px;
	border:1px solid #999;
	
}
#demotp #same td img
{
	margin-top:-10spx;
	
}
/**************************友情链接样式**************************************/
.link
{
	width:1150px;
	height:180px;
	margin-left:115px;
	margin-top:40px;
	
}
#link
{
	width:1150px;
	height:50px;
	border:solid 1px #0041cc;
	
	
}
#link #link_title
{
	float:left;
	width:150px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:18px;
	background-image:linear-gradient(to right,#09F,#FFF);
	
}
#link #link_first
{
	float:left;
}
#link #link_first .link_list
{
	display:block;
	list-style:none;
	float:left;
	border:1px solid #999;
	width:210px;
	margin-left:29px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-top:10px;
	cursor:pointer;
	position:relative;
	
}
#link #link_first .link_list img
{
	float:right;
	margin-top:13px;
	margin-right:15px;	
}
.link_second
{
	width:210px;
	
	border:1px solid #999;
	position:absolute;
	top:30px;
	margin-left:-1px;
	background-image:linear-gradient(to top ,#999,#FFF);
	/*#03a9f4;*/
	display:none;
	border-top:none;
}
.link_second li
{
	list-style:none;
	text-align:left;
}
.link_second li a
{
	display:block;
	width:210px;
	height:20px;
	line-height:20px;
	margin-top:5px;
}
.link_second li a:hover
{
	background:#03a9f4;
	color:#FFF;
	border-bottom:none;
}



