USE [master]
GO
/****** Object:  Database [HRAM-SNU_DB]    Script Date: 2017/4/20 10:19:46 ******/
CREATE DATABASE [HRAM-SNU_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRAM-SNU_DB', FILENAME = N'D:\database\HRAM-SNU_DB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HRAM-SNU_DB_log', FILENAME = N'D:\database\HRAM-SNU_DB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRAM-SNU_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRAM-SNU_DB]
GO
/****** Object:  Table [dbo].[T_ADImgList]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ADImgList](
	[pkId] [nvarchar](50) NOT NULL,
	[pmADImgListID] [nvarchar](50) NOT NULL,
	[pmADImgListURL] [text] NOT NULL,
	[pmADImgListNum] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_ADImgList] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_DMType]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DMType](
	[pkId] [nvarchar](50) NOT NULL,
	[dmTypeID] [nvarchar](50) NOT NULL,
	[dmTypeValue] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_DMType] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_DownloadManage]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DownloadManage](
	[pkId] [nvarchar](50) NOT NULL,
	[uLoginName] [nvarchar](50) NOT NULL,
	[dmTitle] [nvarchar](50) NOT NULL,
	[dmTypeID] [nvarchar](50) NOT NULL,
	[dmFileURL] [text] NULL,
	[dmDownloadNum] [bigint] NULL,
	[dmUploadTime] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_DownloadManage] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_FriendlyLink]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FriendlyLink](
	[pkId] [nvarchar](50) NOT NULL,
	[uLoginName] [nvarchar](50) NOT NULL,
	[flName] [nvarchar](50) NOT NULL,
	[flURL] [text] NOT NULL,
	[flImgURL] [text] NOT NULL,
	[flAddTime] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_FriendlyLink] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Member]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Member](
	[pkId] [nvarchar](50) NOT NULL,
	[uLoginName] [nvarchar](50) NOT NULL,
	[mReviewResultID] [nvarchar](50) NOT NULL,
	[mApplyTime] [nvarchar](50) NOT NULL,
	[mName] [nvarchar](50) NOT NULL,
	[mTypeID] [nvarchar](50) NOT NULL,
	[mOrganizationCode] [nvarchar](50) NOT NULL,
	[mAddress] [text] NOT NULL,
	[mCorporateName] [nvarchar](50) NOT NULL,
	[mIDCardNo] [nvarchar](50) NOT NULL,
	[mContacts] [nvarchar](50) NOT NULL,
	[mContactsPhone] [nvarchar](50) NOT NULL,
	[mSummary] [text] NULL,
	[mImgURL] [text] NULL,
	[mURL] [text] NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_T_Members] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_MemberType]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MemberType](
	[pkId] [nvarchar](50) NOT NULL,
	[mTypeID] [nvarchar](50) NOT NULL,
	[mTypeValue] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_MemberType] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_PMType]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PMType](
	[pkId] [nvarchar](50) NOT NULL,
	[pmTypeID] [nvarchar](50) NOT NULL,
	[pmTypeValue] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_PMType] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_PublishManage]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PublishManage](
	[pkId] [nvarchar](50) NOT NULL,
	[uLoginName] [nvarchar](50) NOT NULL,
	[pmTitle] [nvarchar](50) NULL,
	[pmTypeID] [nvarchar](50) NOT NULL,
	[pmADImgListID] [nvarchar](50) NULL,
	[pmPublishTime] [nvarchar](50) NOT NULL,
	[pmViews] [bigint] NULL,
	[pmText] [text] NULL,
	[pmPreview] [bit] NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_PublishManage] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_ReviewResult]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ReviewResult](
	[pkId] [nvarchar](50) NOT NULL,
	[mReviewResultID] [nvarchar](50) NOT NULL,
	[mReviewResultValue] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_ReviewResult] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SysModule]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SysModule](
	[pkId] [int] IDENTITY(1,1) NOT NULL,
	[mName] [nvarchar](50) NULL,
	[mLinkUrl] [nvarchar](100) NULL,
	[mIcon] [nvarchar](100) NULL,
	[mParentNo] [int] NULL,
	[mSort] [int] NULL,
	[mIsVisible] [bit] NULL,
	[mIsMenu] [bit] NULL,
	[isDeleted] [bit] NULL,
	[mController] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Sys_Module] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_User]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_User](
	[pkId] [nvarchar](50) NOT NULL,
	[uLoginName] [nvarchar](50) NOT NULL,
	[uLoginTypeID] [nvarchar](50) NOT NULL,
	[uPassword] [nvarchar](50) NOT NULL,
	[uUserName] [nvarchar](50) NOT NULL,
	[uPhone] [nvarchar](50) NULL,
	[uMaiBox] [nvarchar](50) NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_Admin] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_UserType]    Script Date: 2017/4/20 10:19:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_UserType](
	[pkId] [nvarchar](50) NOT NULL,
	[uLoginTypeID] [nvarchar](50) NOT NULL,
	[uLoginTypeValue] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_T_UserType] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[T_ADImgList] ([pkId], [pmADImgListID], [pmADImgListURL], [pmADImgListNum], [isDeleted]) VALUES (N'22522D03-A3AE-4FCC-8D1F-C21169FAEA70', N'123', N'/upload/publish/201702182354506533.jpg', N'5', 0)
INSERT [dbo].[T_ADImgList] ([pkId], [pmADImgListID], [pmADImgListURL], [pmADImgListNum], [isDeleted]) VALUES (N'41590FBC-4AC9-4C92-8A05-B4C0890C7962', N'123', N'/upload/publish/201704190949322348.jpg', N'1', 0)
INSERT [dbo].[T_ADImgList] ([pkId], [pmADImgListID], [pmADImgListURL], [pmADImgListNum], [isDeleted]) VALUES (N'B03DB801-F7BF-4655-A948-D45D015D557B', N'123', N'/upload/publish/201704191443208729.png', N'1', 0)
INSERT [dbo].[T_DMType] ([pkId], [dmTypeID], [dmTypeValue], [isDeleted]) VALUES (N'653DC690-3C28-481B-A12F-EF4011E80000', N'2003', N'表格', 0)
INSERT [dbo].[T_DMType] ([pkId], [dmTypeID], [dmTypeValue], [isDeleted]) VALUES (N'D2572298-BC95-4B3A-A77D-433580462A21', N'2002', N'简历模板', 0)
INSERT [dbo].[T_DMType] ([pkId], [dmTypeID], [dmTypeValue], [isDeleted]) VALUES (N'FB48E856-7DD6-4987-99DB-68CA12A93B87', N'2001', N'HR表格', 0)
INSERT [dbo].[T_DownloadManage] ([pkId], [uLoginName], [dmTitle], [dmTypeID], [dmFileURL], [dmDownloadNum], [dmUploadTime], [isDeleted]) VALUES (N'1ABB624C-485F-4BBC-9EEB-E44C3CCC099F', N'dsfg', N'dsfg', N'2002', N'/upload/download/files/jianlimoban/201704191354380688.doc', 0, N'2017-04-19 11:16:30', 0)
INSERT [dbo].[T_DownloadManage] ([pkId], [uLoginName], [dmTitle], [dmTypeID], [dmFileURL], [dmDownloadNum], [dmUploadTime], [isDeleted]) VALUES (N'3C93F9DA-E848-4D43-AF7B-571913BC086D', N'admin', N'123', N'2001', N'/upload/download/files/HRbiaoge/201704191040518458.doc', 0, N'2017-04-19 10:40:24', 0)
INSERT [dbo].[T_DownloadManage] ([pkId], [uLoginName], [dmTitle], [dmTypeID], [dmFileURL], [dmDownloadNum], [dmUploadTime], [isDeleted]) VALUES (N'8DBB4F04-6D06-44DE-ACA1-765492782D5E', N'dfhg', N'fghd', N'-0000', N'', 0, N'2017-02-08 16:43:21', 1)
INSERT [dbo].[T_FriendlyLink] ([pkId], [uLoginName], [flName], [flURL], [flImgURL], [flAddTime], [isDeleted]) VALUES (N'6C5D5DC4-4BA2-4402-9399-896CDE5B175E', N'admin', N'连接', N'http://www.importnew.com/23792.html', N'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492664249096&di=beea8b911a1afc663dc91b989b0cf9aa&imgtype=0&src=http%3A%2F%2Fpic48.nipic.com%2Ffile%2F20140912%2F7487939_224900910000_2.jpg', N'2017-04-20 10:12:30', 0)
INSERT [dbo].[T_Member] ([pkId], [uLoginName], [mReviewResultID], [mApplyTime], [mName], [mTypeID], [mOrganizationCode], [mAddress], [mCorporateName], [mIDCardNo], [mContacts], [mContactsPhone], [mSummary], [mImgURL], [mURL], [isDeleted]) VALUES (N'42FFE370-7BB5-4304-8FC8-969F36B53E8F', N'admin', N'0003', N'2017-04-19 14:32:46', N'fdsg', N'30002', N'123442243', N'asdasd', N'asa', N'123312312312311221', N'asfdsa', N'15952155212', N'<p>该会员单位666</p>', NULL, NULL, 0)
INSERT [dbo].[T_MemberType] ([pkId], [mTypeID], [mTypeValue], [isDeleted]) VALUES (N'0EC11004-07FF-47DF-8C88-5C0AA343563C', N'30002', N'二级会员', 0)
INSERT [dbo].[T_MemberType] ([pkId], [mTypeID], [mTypeValue], [isDeleted]) VALUES (N'19A35000-F5DE-42A1-90AF-97A9D2743501', N'30001', N'一级会员', 0)
INSERT [dbo].[T_MemberType] ([pkId], [mTypeID], [mTypeValue], [isDeleted]) VALUES (N'E1C711D0-63BD-4849-8438-586A0B24C262', N'MEMBER_201701141931134963', N'12356', 0)
INSERT [dbo].[T_PMType] ([pkId], [pmTypeID], [pmTypeValue], [isDeleted]) VALUES (N'0C726F9B-CE88-45A3-89A6-4688AB74E050', N'1001', N'社会保障', 0)
INSERT [dbo].[T_PMType] ([pkId], [pmTypeID], [pmTypeValue], [isDeleted]) VALUES (N'A447A15A-E6A4-4CE1-8D52-27966867663C', N'Pm201704191026241581', N'人力资源', 0)
INSERT [dbo].[T_ReviewResult] ([pkId], [mReviewResultID], [mReviewResultValue], [isDeleted]) VALUES (N'1CC66838-9680-4539-BE4B-43935C3F2221', N'0003', N'审核未通过', 0)
INSERT [dbo].[T_ReviewResult] ([pkId], [mReviewResultID], [mReviewResultValue], [isDeleted]) VALUES (N'207FC595-5385-44BD-9359-20805882F50E', N'0002', N'待审核', 0)
INSERT [dbo].[T_ReviewResult] ([pkId], [mReviewResultID], [mReviewResultValue], [isDeleted]) VALUES (N'8949D434-A427-4A1D-95E4-D67EC827F909', N'0001', N'审核通过', 0)
SET IDENTITY_INSERT [dbo].[T_SysModule] ON 

INSERT [dbo].[T_SysModule] ([pkId], [mName], [mLinkUrl], [mIcon], [mParentNo], [mSort], [mIsVisible], [mIsMenu], [isDeleted], [mController]) VALUES (0, N'根目录', NULL, NULL, -1, NULL, 1, 1, 0, NULL)
INSERT [dbo].[T_SysModule] ([pkId], [mName], [mLinkUrl], [mIcon], [mParentNo], [mSort], [mIsVisible], [mIsMenu], [isDeleted], [mController]) VALUES (1, N'基本功能', NULL, N'/Images/icons/32X32/ico_type.png', 0, 1, 1, 1, 0, NULL)
INSERT [dbo].[T_SysModule] ([pkId], [mName], [mLinkUrl], [mIcon], [mParentNo], [mSort], [mIsVisible], [mIsMenu], [isDeleted], [mController]) VALUES (2, N'系统管理', NULL, N'/Images/icons/32X32/ico_setting.png', 0, 2, 1, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[T_SysModule] OFF
INSERT [dbo].[T_User] ([pkId], [uLoginName], [uLoginTypeID], [uPassword], [uUserName], [uPhone], [uMaiBox], [isDeleted]) VALUES (N'0A6039BF-6527-4C72-9E09-F63EAF080F7F', N'123', N'0002', N'202CB962AC59075B964B07152D234B70', N'123', N'123', N'123', 0)
INSERT [dbo].[T_User] ([pkId], [uLoginName], [uLoginTypeID], [uPassword], [uUserName], [uPhone], [uMaiBox], [isDeleted]) VALUES (N'1B6AE27E-C37B-4C57-99F0-B476436CDFD4', N'admin', N'0001', N'202CB962AC59075B964B07152D234B70', N'徐志坚', N'15196606812', N'ccc.surpass@qq.com', 0)
INSERT [dbo].[T_User] ([pkId], [uLoginName], [uLoginTypeID], [uPassword], [uUserName], [uPhone], [uMaiBox], [isDeleted]) VALUES (N'38F5600E-008F-4269-919A-0A756CF68E6A', N'fdvx', N'0001', N'76D80224611FC919A5D54F0FF9FBA446', N'qwe', N'qwe', N'qwe', 0)
INSERT [dbo].[T_UserType] ([pkId], [uLoginTypeID], [uLoginTypeValue], [isDeleted]) VALUES (N'0813851F-549D-430B-B2B0-6F0934DB7E7E', N'0001', N'管理员', 0)
INSERT [dbo].[T_UserType] ([pkId], [uLoginTypeID], [uLoginTypeValue], [isDeleted]) VALUES (N'3C52C3F2-B354-4498-8D65-4A17D0198271', N'0002', N'普通用户', 0)
INSERT [dbo].[T_UserType] ([pkId], [uLoginTypeID], [uLoginTypeValue], [isDeleted]) VALUES (N'4A6F009E-C281-4737-8075-676D3449D896', N'0003', N'游客', 0)
ALTER TABLE [dbo].[T_ADImgList] ADD  CONSTRAINT [DF_T_ADImgList_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
ALTER TABLE [dbo].[T_DMType] ADD  CONSTRAINT [DF_T_DMType_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
ALTER TABLE [dbo].[T_DownloadManage] ADD  CONSTRAINT [DF_T_DownloadManage_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
ALTER TABLE [dbo].[T_DownloadManage] ADD  CONSTRAINT [DF_T_DownloadManage_DM_TypeID]  DEFAULT ('-0000') FOR [dmTypeID]
GO
ALTER TABLE [dbo].[T_DownloadManage] ADD  CONSTRAINT [DF_T_DownloadManage_DM_DownloadNum]  DEFAULT ((0)) FOR [dmDownloadNum]
GO
ALTER TABLE [dbo].[T_DownloadManage] ADD  CONSTRAINT [DF_T_DownloadManage_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[T_FriendlyLink] ADD  CONSTRAINT [DF_T_FriendlyLink_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
ALTER TABLE [dbo].[T_FriendlyLink] ADD  CONSTRAINT [DF_T_FriendlyLink_FL_ImgURL]  DEFAULT (N'暂无') FOR [flImgURL]
GO
ALTER TABLE [dbo].[T_FriendlyLink] ADD  CONSTRAINT [DF_T_FriendlyLink_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Members_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Member_M_ReviewResultID]  DEFAULT ('-0000') FOR [mReviewResultID]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Member_M_TypeID]  DEFAULT ('-0000') FOR [mTypeID]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Members_M_ImgUrl]  DEFAULT (N'暂无') FOR [mImgURL]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Members_M_URL]  DEFAULT (N'暂无') FOR [mURL]
GO
ALTER TABLE [dbo].[T_Member] ADD  CONSTRAINT [DF_T_Member_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[T_MemberType] ADD  CONSTRAINT [DF_T_MemberType_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
ALTER TABLE [dbo].[T_PMType] ADD  CONSTRAINT [DF_T_PMType_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
ALTER TABLE [dbo].[T_PublishManage] ADD  CONSTRAINT [DF_T_PublishManage_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
ALTER TABLE [dbo].[T_PublishManage] ADD  CONSTRAINT [DF_T_PublishManage_PM_TypeID]  DEFAULT ('-0000') FOR [pmTypeID]
GO
ALTER TABLE [dbo].[T_PublishManage] ADD  CONSTRAINT [DF_T_PublishManage_PM_ADImgListlD]  DEFAULT (N'暂无') FOR [pmADImgListID]
GO
ALTER TABLE [dbo].[T_PublishManage] ADD  CONSTRAINT [DF_T_PublishManage_PM_Views]  DEFAULT ((0)) FOR [pmViews]
GO
ALTER TABLE [dbo].[T_ReviewResult] ADD  CONSTRAINT [DF_T_ReviewResult_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
ALTER TABLE [dbo].[T_User] ADD  CONSTRAINT [DF_T_Admin_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
ALTER TABLE [dbo].[T_User] ADD  CONSTRAINT [DF_T_User_U_LoginTypeID]  DEFAULT ('-0000') FOR [uLoginTypeID]
GO
ALTER TABLE [dbo].[T_User] ADD  CONSTRAINT [DF_T_Admin_A_Phone]  DEFAULT (N'暂无') FOR [uPhone]
GO
ALTER TABLE [dbo].[T_User] ADD  CONSTRAINT [DF_T_Admin_A_MaiBox]  DEFAULT (N'暂无') FOR [uMaiBox]
GO
ALTER TABLE [dbo].[T_UserType] ADD  CONSTRAINT [DF_T_UserType_pk_id]  DEFAULT (newid()) FOR [pkId]
GO
USE [master]
GO
