<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>登录页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css" />

	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title" EN="Login in">登录</h1>
		</header>

		<div class="mui-content">
			<div class="mui-scroll">
				<form id='login-form' class="mui-input-group" style="margin-top: 10px;">
					<div class="mui-input-row">
						<label style="width: 22%;">用户名</label>
						<input id="edtLoginName" type="text" class="mui-input-clear mui-input" style="width: 78%;" placeholder="请输入用户名" />
					</div>
					<div class="mui-input-row">
						<label style="width: 22%;">密码</label>
						<input id="edtPwd" type="password" class="mui-input-clear mui-input" style="width: 78%;" placeholder="请输入密码" />
					</div>
				</form>
				<form class="mui-input-group">
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="mui-table-view-cell">
							<a EN="Automatic logon">自动登录</a>
							<div id="swtAutoLogin" class="mui-switch">
								<div class="mui-switch-handle"></div>
							</div>
						</li>
					</ul>
				</form>
				<div class="mui-content-padded" style="margin-top: 25px;">
					<button id='btnLogin' class="mui-btn mui-btn-block mui-btn-primary" style="height: 55px;">登录</button>
					<div class="link-area" style="display: block;margin-top: 15px;text-align: center;">
						<a id='btnRegister'>注册账号</a>
						<span class="spliter">|</span>
						<a id='btnForgetPwd'>忘记密码</a>
					</div>
				</div>

			</div>

		</div>

		<div id="registerDlg" class="mui-popover" style="width: 0 auto; margin-top: 100px;margin-bottom: 100px;margin-left: 50px;margin-right: 50px;">

			<div class="mui-content">
				<div class="mui-table-view-cell" style="background: dodgerblue;">
					<h5 class="mui-text-center" style="color: white;">马上注册 </h5>
				</div>

				<div class="mui-input-group" style="margin-top: 5px;">
					<div class="mui-input-row">
						<label>邮箱</label>
						<input id='edtMaibox' type="email" class="mui-input-clear mui-input" placeholderEN="Please input mailbox" placeholder="请输入邮箱" value="" />
					</div>
				</div>

				<a id='btnReg' class="mui-btn mui-btn-primary" style="height:36px; text-align:center;display:block;margin: 5px;">注册</a>
			</div>
		</div>

	</body>
	<script src="../../../js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/common/md5.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/acc/LoginJS.js" type="text/javascript" charset="utf-8"></script>

</html>