@charset "utf-8";
/* CSS Document */
*
{
	margin:0;
	padding:0;
    font-size:12px;
}
a{	text-decoration:none;}
a:link,a:visited
{
	color:#000;
}
/*导航*/
.on ,#nav li a:hover,#nav li a:active
{
	background-color:#FFF;
}
a:hover,a:active
{
	color:#0041cc;
}
.UI
{
	width:1380px;
}
#UI
{
	width:100%;
	margin:0 auto;
	height:800px;
}
#color
{
	width:100%;
	height:500px;
	background-image:linear-gradient(#09F,#FFF);
}
#contents
{
	height:20px;
	background:#09F;
	width:1150px;
	
}
li{
	list-style:none;
}
/*************************以上都是全局样式*******************/
#header
{
	width:100%;
	height:150px;
/*	background-image:url(images/bj.jpg);*/
	position:relative;
	background-image:linear-gradient( #09F,#FFF);
}
#header h1
{
	font-size:36px;
	padding-top:40px;
	margin-left:350px;
}
#header h5
{
	margin-left:350px;	
}
.login,.manage,.reg,#acount
{
	float:left;
	margin:5px;
}
#acount
{
	display:none;
}
/********************************遮罩样式*******************************/
#screen
{
	position:absolute;
	top:0px;
	left:0px;
	background:#000;
	z-index:9998;
	filter:alpha(opacity=30);/*IE浏览器*/
	opacity:0.3;/*火狐谷歌*/
	display:none;
	
	
	
}
/******************** 登录模块 **********************/
 #header_right
{
	position:absolute;
	top:5px;
	right:100px;
	
}
.user
{
	text-indent:10px;
}


#login {
	width:350px;
	height:250px;
	border:1px solid #ccc;
	position:absolute;
	z-index:9999;
	background:#FFF;
	display:none;
}
#login h2 {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(images/login_header.png) repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
}
#login h2 img {
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#login table .title{
	display:block;
	width:110px;
	text-align:right;
	font-size:16px;
}
#login table .title span
{
	font-size:16px;
	color:#FFF;
}
#login .user, #login .pass {
	font-size:16px;
	color:#666;
	padding:5px 0;
	text-align:center;
}
#login input.text {
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
}
#login .button {
	text-align:center;
	padding:20px 0;
}
#login input.submit {
	width:107px;
	height:30px;
	background:url(images/login_button.png) no-repeat;
	border:none;
	cursor:pointer;
}
#login .other {
	text-align:right;
	padding:15px 10px;
	color:#666;
}


/******************************导航样式******************************/
#nav
{
	width:100%;
	height:60px;
	background-image:linear-gradient(to top, #06F,#FFF);
}
#nav #first
{
	margin-left:125px;
}
#nav #first li  
{
	list-style:none;
	display:inline;
	float:left;
	width:120px;
	margin-left:-10px;
}
#nav #first li a 
{
	font-size:18px;
	display:block;
	width:110px;
	height:45px;
	border-radius:15px;
	-moz-border-radius:25px; /* Old Firefox */
	margin-top:8px;
	line-height:45px;
	text-align:center;
}
.search_text
{
	height:30px;
	margin-top:15px;
	margin-left:30px;
	background:url(images/bj2.jpg) no-repeat right center;
	background-size:23px 23px;
	background-color:#FFF;
	padding-right:25px;
	border:#FFF 1px solid;
	
}
#nav_right span
{
	font-size:18px;
	float:left;
	margin-left:200px;
	margin-top:-30px;
	cursor:pointer;
}


/*****************************导航二级菜单和三级菜单样式**************************/
.nav_li1 ,.nav_li5,.nav_li6,.second2_li1,.second2_li2
{
    cursor:pointer;
	position:relative;
}
.second1,.second2,.second3
{
    width:110px;
	height:120px;
	position:absolute;
	top:50px;
	background-image:linear-gradient( #06F,#FFF);
	border-radius:15px;
	-moz-border-radius:15px; /* Old Firefox */
	z-index:2;
	display:none;
	border-top:none;
}
.second1 li a,.second2 li a,.second3 li a,.third1 li a ,.third2 li a
{
	display:block;
	margin-left:10px;
}
.second2,.second3
{
	z-index:4;
}
.third1,.third2
{
    width:110px;
	position:absolute;
	top:1px;
	left:120px;
	background-image:linear-gradient(to right,#FFF, #06F);
	border-radius:15px;
	-moz-border-radius:15px; /* Old Firefox */
	z-index:2;
	display:none;
	border-left:none;
}
/*******************登录模块********************************/
 #header_right
{
	position:absolute;
	top:5px;
	right:100px;
	
}
.login,.manage
{
	float:left;
	margin:5px;
}

#login {
	width:350px;
	height:250px;
	border:1px solid #ccc;
	position:absolute;
	z-index:4;
	background:#FFF;
	display:none;
}
#login h2 {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(images/login_header.png) repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
}
#login h2 img {
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#login div.user, #login div.pass {
	font-size:14px;
	color:#666;
	padding:5px 0;
	text-align:center;
}
#login input.text {
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
}
#login .button {
	text-align:center;
	padding:20px 0;
}
#login input.submit {
	width:107px;
	height:30px;
	background:url(images/login_button.png) no-repeat;
	border:none;
	cursor:pointer;
}
#login .other {
	text-align:right;
	padding:15px 10px;
	color:#666;
}

/****************************页脚样式***********************************/
footer
{
	text-align:center;
	width:100%;
	height:100px;
	margin-top:40px;
	padding-top:40px;
	background-image:linear-gradient(to top,#09F,#FFF);
}
/******************************内容样式************************************/
#content
{
	margin-left:115px;
	width:1130px;
	height:800px;
	/*border:solid 1px #CCCCCC;*/
	background:#FFF;
}
#content #membership h3
{
	height:40px;
	background-image:linear-gradient(to top, #999,#FFF);
	border-bottom:#00C 1px solid;
}
#content #membership h3 span
{
	display:block;
	width:180px;
	height:42px;
	text-align:center;
	line-height:42px;
	font-size:18px;
	background:#FFF;
	border-top:#00C 1px solid;
}
/**********************注册表******************************/

#content #membership table
{
	width:800px;
	margin:60px 0px 0px 40px ;
	
}
#content #membership table tr
{
	height:30px;
	margin-top:8px;
	position:relative;
}
#establish
{
	width:400px;
	
	
}
#content #membership .selection
{
	width:100px;
	height:30px;
	float:left;
	margin:5px 0px 5px 0px;
	
}
#content #membership .selection select
{
	width:100px;
	height:30px;
	text-align:center;
}

.title
{
	text-align:right;
	font-size:18px;

}
.text
{
	width:300px;
	height:30px;
	border:1px solid #CCC;
	margin-top:5px;
	
}
#content #membership .button
{
	margin-top:60px;
	height:40px;
}
#Button1,#Button2
{
	width:100px;
	height:40px;
	background-image:linear-gradient(to top, #0FC,#FFF);
}
#Button2
{
	margin-left:100px;
}
#content #membership table .info,#content #membership table .error,#content #membership table .succ
{
	display:block;
	width:160px;
	height:32px;
	position:absolute;
	top:5px;
	left:470px;
	padding-left:40px;
	line-height:32px;
	display:none;
	
}
#content #membership table .succ
{
	color:green;
	line-height:32px;
	text-indent:-20px;
}
#content #membership table .two
{
	display:block;
	width:160px;
	height:50px;
	background:url(images/reg_info2.png) no-repeat;
	left:470px;
	padding-top:5px;
	padding-left:40px;
	line-height:20px;

}
/*公司名称提示信息背景图*/
#content #membership table #info1
{
	background:url(images/reg_info.png) no-repeat;
}
#content #membership table #error1
{
	background:url(images/reg_error.png) no-repeat;
}
#content #membership table #succ1
{
	background:url(images/reg_succ.png) no-repeat;
}
/*组织机构代码提示信息背景图*/
#content #membership table #info2
{
	width:244px;
	height:102px;
	top:-30px;
	background:url(images/reg_info3.png) no-repeat;
	padding:4px 0px 0px 16px;
	
	letter-spacing:0px;
	
}
#content #membership table #info2 p
{
	height:25px;
	line-height:20px;
	color:#666;
}
#content #membership table #info2 p strong
{
	color:#CCC;
}

#content #membership table #error2
{
	background:url(images/reg_error.png) no-repeat;
}
#content #membership table #succ2
{
	background:url(images/reg_succ.png) no-repeat;
}
/*公司地址提示信息背景图*/
#content #membership table #info3
{
	background:url(images/reg_info.png) no-repeat;
}
#content #membership table #error3
{
	background:url(images/reg_error.png) no-repeat;
	
}
#content #membership table #succ3
{
	background:url(images/reg_succ.png) no-repeat;
}
/*法人姓名提示信息背景图*/
#content #membership table #info4
{
	background:url(images/reg_info.png) no-repeat;
}
#content #membership table #error4
{
	background:url(images/reg_error.png) no-repeat;
	
}
#content #membership table #succ4
{
	background:url(images/reg_succ.png) no-repeat;
}
/*法人身份证提示信息背景图*/
#content #membership table #info5
{
	background:url(images/reg_info.png) no-repeat;
}
#content #membership table #error5
{
	background:url(images/reg_error.png) no-repeat;
	
}
#content #membership table #succ5
{
	background:url(images/reg_succ.png) no-repeat;
}
/*联系电话提示信息背景图*/
#content #membership table #info6
{
	background:url(images/reg_info.png) no-repeat;
}
#content #membership table #error6
{
	background:url(images/reg_error.png) no-repeat;
	
}
#content #membership table #succ6
{
	background:url(images/reg_succ.png) no-repeat;
}
/*单位网址提示信息背景图*/
#content #membership table #info7
{
	background:url(images/reg_info.png) no-repeat;
}
#content #membership table #error7
{
	background:url(images/reg_error.png) no-repeat;
	
}
#content #membership table #succ7
{
	background:url(images/reg_succ.png) no-repeat;
}

/*密码确认提示信息背景图*/
#content #membership table #info8
{
	background:url(images/reg_info.png) no-repeat;
}
#content #membership table #error8
{
	background:url(images/reg_error.png) no-repeat;
	text-indent:-10px;
}
#content #membership table #succ8
{
	background:url(images/reg_succ.png) no-repeat;
}

#content #membership table #error9
{
	background:url(images/reg_error.png) no-repeat;
	
}

/*公司简介*/
#company_info #ps1
{
	color:#ccc;
	display:block;
}
#company_info #ps2
{
	color:#ccc;
	display:none;
}
#company_info strong num1,num2
{
	padding:0px 5px;
}
#company_info strong .clear
{
	color:#06f;
}

/*************************公司信息管理****************************************/
#membership
{
	
	
}

#member_info
{
	width:1130px;
	height:800px;
	border:solid 1px #CCCCCC;
	background:url(images/member_bg.jpg);
	display:none;
}
#member_info_bar
{
	
	height:60px;
	border-bottom:1px solid #999;
	/*background-image:linear-gradient(to top, #999,#FFF);*/

}
#member_info_bar li
{
	display:block;
	float:left;
	height:60px;
	line-height:60px;
	text-align:center;
	width:180px;
	font-size:18px;
}
#member_info_bar #li1
{
	border-right:1px solid #999;
	background:#FFF;
}
#member_info_bar #li2
{
	border-right:1px solid #999;
	
}
#member_info #table1
{
	width:800px;
	margin:0px 0px 0px 40px ;
	margin-left:100px;
}

#member_info .title1
{
	font-size:18px;
	width:100px;
}
#member_info table tr
{
	display:block;
	
}
#member_info table td
{
	text-align:left;
	
}
#member_info table span
{
	display:block;
	text-indent:30px;
	font-size:16px;
}
#member_info #table2
{
	width:800px;
	margin:0px 0px 0px -150px ;
    display:none;
}
/****注册成功界面***/
#reg_login
{
	display:none;
	background:url(images/member_bg.jpg);
	width:1130px;
	height:800px;
}
#reg_login p
{
	height:40px;
	line-height:40px;
	padding-top:300px;
	margin-left:200px;
	font-size:16px;
}
#reg_login p a
{
	margin-left:20px;
	text-decoration:underline;
	color:#00F;
	font-size:18px;
	
}
