@charset "utf-8";
/* CSS Document */

*
{
	margin:0;
	padding:0;
    font-size:12px;
}
a{	text-decoration:none;}
a:link,a:visited
{
	color:#000;
}
/*导航*/
.on ,#nav li a:hover,#nav li a:active
{
	background-color:#FFF;
}
a:hover,a:active
{
	color:#0041cc;
}
.UI
{
	width:1380px;
}
#UI
{
	width:100%;
	margin:0 auto;
	height:900px;
}
#color
{
	width:100%;
	height:500px;
	background-image:linear-gradient(#09F,#FFF);
}
#contents
{
	height:20px;
	background:#09F;
	
}
/*************************以上都是全局样式*******************/
#header
{
	width:100%;
	height:150px;
	/*	background-image:url(images/bj.jpg);*/
	position:relative;
	background-image:linear-gradient( #09F,#FFF);
}
#header h1
{
	font-size:36px;
	padding-top:40px;
	margin-left:350px;
}
#header h5
{
	margin-left:350px;	
}
.login,.manage,.reg
{
	float:left;
	margin:5px;
}
/******************** 登录模块 **********************/
 #header_right
{
	position:absolute;
	top:5px;
	right:100px;
	
}


#login {
	width:350px;
	height:250px;
	border:1px solid #ccc;
	position:absolute;
	z-index:20;
	background:#FFF;
}
#login h2 {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(images/login_header.png) repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
}
#login h2 img {
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#login table .title{
	display:block;
	width:110px;
	text-align:right;
	font-size:16px;
}
#login table .title span
{
	font-size:16px;
	color:#FFF;
}
#login .user, #login .pass {
	font-size:16px;
	color:#666;
	padding:5px 0;
	text-align:center;
}
#login input.text {
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
}
#login .button {
	text-align:center;
	padding:20px 0;
}
#login input.submit {
	width:107px;
	height:30px;
	background:url(images/login_button.png) no-repeat;
	border:none;
	cursor:pointer;
}
#login .other {
	text-align:right;
	padding:15px 10px;
	color:#666;
}


/******************************导航样式******************************/
#nav
{
	width:100%;
	height:60px;
	background-image:linear-gradient(to top, #06F,#FFF);
}
#nav #first
{
	margin-left:125px;
}
#nav #first li  
{
	list-style:none;
	display:inline;
	float:left;
	width:120px;
	margin-left:-10px;
}
#nav #first li a 
{
	font-size:18px;
	display:block;
	width:110px;
	height:45px;
	border-radius:15px;
	-moz-border-radius:15px; /* Old Firefox */
	margin-top:8px;
	line-height:45px;
	text-align:center;
}
.search_text
{
	height:30px;
	margin-top:15px;
	margin-left:30px;
	background:url(images/bj2.jpg) no-repeat right center;
	background-size:23px 23px;
	background-color:#FFF;
	padding-right:25px;
	border:#FFF 1px solid;
	
}
#nav_right span
{
	font-size:18px;
	float:left;
	margin-left:200px;
	margin-top:-30px;
	cursor:pointer;
}
/*****************************导航二级菜单和三级菜单样式**************************/
.nav_li1 ,.nav_li5,.nav_li6,.second2_li1,.second2_li2
{
    cursor:pointer;
	position:relative;
}
.second1,.second2,.second3
{
    width:110px;
	height:120px;
	position:absolute;
	top:50px;
	background-image:linear-gradient( #06F,#FFF);
	border-radius:15px;
	-moz-border-radius:15px; /* Old Firefox */
	z-index:2;
	display:none;
	border-top:none;
}
.second1 li a,.second2 li a,.second3 li a,.third1 li a ,.third2 li a
{
	display:block;
	margin-left:10px;
}
.second2,.second3
{
	z-index:4;
}
.third1,.third2
{
    width:110px;
	position:absolute;
	top:1px;
	left:120px;
	background-image:linear-gradient(to right ,#FFF,#06F);
	border-radius:15px;
	-moz-border-radius:15px; /* Old Firefox */
	z-index:2;
	display:none;
	border-left:none;
}
/*******************登录模块********************************/
 #header_right
{
	position:absolute;
	top:5px;
	right:100px;
	
}
.login,.manage
{
	float:left;
	margin:5px;
}

#login {
	margin-left:280px;
	margin-top:100px;
	width:350px;
	height:250px;
	border:1px solid #ccc;
	position:absolute;
	z-index:4;
	background:#FFF;
	display:none;
	
}
#login h2 {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(images/login_header.png) repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
}
#login h2 img {
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#login div.user, #login div.pass {
	font-size:14px;
	color:#666;
	padding:5px 0;
	text-align:center;
}
#login input.text {
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
}
#login .button {
	text-align:center;
	padding:20px 0;
}
#login input.submit {
	width:107px;
	height:30px;
	background:url(images/login_button.png) no-repeat;
	border:none;
	cursor:pointer;
}
#login .other {
	text-align:right;
	padding:15px 10px;
	color:#666;
}

/****************************页脚样式***********************************/
footer
{
	text-align:center;
	width:100%;
	height:100px;
	margin-top:40px;
	padding-top:40px;
	background-image:linear-gradient(to top,#09F,#FFF);
}
/******************************内容样式************************************/
#content
{
	margin-left:115px;
	width:1130px;
	height:700px;
	background:#FFF;
	border:1px solid #999;
}
#content #title
{
	margin-top:20px;
	text-align:center;
	height:80px;
	width:1050px;
	margin-left:40px;
	line-height:80px;
	font-size:25px;
	border-bottom:solid 1px #09F;
}
#time
{
	margin-top:30px;
	text-align:left;
	height:30px;
	margin-left:75px;
	line-height:30px;
	font-size:16px;
	color:#666;
}
#resource
{
	text-align:center;
	line-height:30px;
	font-size:16px;
	margin-top:50px;

}
article
{
	padding:50px;
	font-size:14px;
	text-indent:28px;
}




