@charset "utf-8";
/* CSS Document */

*
{
	margin:0;
	padding:0;
    font-size:12px;
}
a{	text-decoration:none;}
a:link,a:visited
{
	color:#000;
}
/*导航*/
.on ,#nav li a:hover,#nav li a:active
{
	background-color:#FFF;
}
a:hover,a:active
{
	color:#0041cc;
}
.UI
{
	width:1380px;
}
#UI
{
	width:100%;
	margin:0 auto;
	height:1000px;
}
#color
{
	width:100%;
	height:500px;
	background-image:linear-gradient(#09F,#FFF);
}
#contents
{
	height:20px;
	background:#09F;
}
/*************************以上都是全局样式*******************/
#header
{
	width:100%;
	height:150px;
	/*background-image:url(images/bj.jpg);*/
	background-image:linear-gradient( #09F,#FFF);
	position:relative;
}
#header h1
{
	font-size:36px;
	padding-top:40px;
	margin-left:350px;
}
#header h5
{
	margin-left:350px;	
}
.login,.manage,.reg
{
	float:left;
	margin:5px;
}
/******************** 登录模块 **********************/
 #header_right
{
	position:absolute;
	top:5px;
	right:100px;
	
}


#login {
	width:350px;
	height:250px;
	border:1px solid #ccc;
	position:absolute;
	z-index:4;
	background:#FFF;
	display:none;
}
#login h2 {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(images/login_header.png) repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
}
#login h2 img {
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#login table .title{
	display:block;
	width:110px;
	text-align:right;
	font-size:16px;
}
#login table .title span
{
	font-size:16px;
	color:#FFF;
}
#login .user, #login .pass {
	font-size:16px;
	color:#666;
	padding:5px 0;
	text-align:center;
}
#login input.text {
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
}
#login .button {
	text-align:center;
	padding:20px 0;
}
#login input.submit {
	width:107px;
	height:30px;
	background:url(images/login_button.png) no-repeat;
	border:none;
	cursor:pointer;
}
#login .other {
	text-align:right;
	padding:15px 10px;
	color:#666;
}


/******************************导航样式******************************/
#nav
{
	width:100%;
	height:60px;
	background-image:linear-gradient(to top, #06F,#FFF);
}
#nav #first
{
	margin-left:125px;
}
#nav #first li  
{
	list-style:none;
	display:inline;
	float:left;
	width:120px;
	margin-left:-10px;
}
#nav #first li a 
{
	font-size:18px;
	display:block;
	width:110px;
	height:45px;
	border-radius:15px;
	-moz-border-radius:25px; /* Old Firefox */
	margin-top:8px;
	line-height:45px;
	text-align:center;
}
.search_text
{
	height:30px;
	margin-top:15px;
	margin-left:30px;
	background:url(images/bj2.jpg) no-repeat right center;
	
	background-size:23px 23px;
	background-color:#FFF;
	padding-right:25px;
	border:#FFF 1px solid;
	
}
#nav_right span
{
	font-size:18px;
	float:left;
	margin-left:200px;
	margin-top:-30px;
	cursor:pointer;
}
/*****************************导航二级菜单和三级菜单样式**************************/
.nav_li1 ,.nav_li5,.nav_li6,.second2_li1,.second2_li2
{
    cursor:pointer;
	position:relative;
}
.second1,.second2,.second3
{
    width:110px;
	height:120px;
	position:absolute;
	top:50px;
	background-image:linear-gradient( #06F,#FFF);
	border-radius:15px;
	-moz-border-radius:15px; /* Old Firefox */
	z-index:2;
	display:none;
	border-top:none;
}
.second1 li a,.second2 li a,.second3 li a,.third1 li a ,.third2 li a
{
	display:block;
	margin-left:10px;
}
.second2,.second3
{
	z-index:4;
}
.third1,.third2
{
    width:110px;
	position:absolute;
	top:1px;
	left:120px;
	background-image:linear-gradient(to right ,#FFF,#06F);
	
	border-radius:15px;
	-moz-border-radius:15px; /* Old Firefox */
	z-index:2;
	display:none;
	border-left:none;
}
/*******************登录模块********************************/
 #header_right
{
	position:absolute;
	top:5px;
	right:100px;
	
}
.login,.manage
{
	float:left;
	margin:5px;
}

#login {
	width:350px;
	height:250px;
	border:1px solid #ccc;
	position:absolute;
	z-index:4;
	background:#FFF;
	display:none;
}
#login h2 {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(images/login_header.png) repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
}
#login h2 img {
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#login div.user, #login div.pass {
	font-size:14px;
	color:#666;
	padding:5px 0;
	text-align:center;
}
#login input.text {
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
}
#login .button {
	text-align:center;
	padding:20px 0;
}
#login input.submit {
	width:107px;
	height:30px;
	background:url(images/login_button.png) no-repeat;
	border:none;
	cursor:pointer;
}
#login .other {
	text-align:right;
	padding:15px 10px;
	color:#666;
}

/****************************页脚样式***********************************/
footer
{
    text-align:center;
	width:100%;
	height:100px;
	margin-top:40px;
	padding-top:40px;
	background-image:linear-gradient(to top,#09F,#FFF);
}
/******************************内容样式************************************/
#content
{
	margin-left:115px;
	width:1150px;
	height:845px;
	border:1px solid #999;;	
	background:#FFF;
}
.news
{
	float:left;
	width:574px;
	height:400px;
	border-bottom:1px solid #CCC;
		/*超出隐藏*/
	 overflow: hidden; 
	white-space:nowrap; 
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis;
}
#news2
{
	border-left:1px solid #CCC;
}

.news span
{
	display:block;
	height:40px;
	line-height:40px;
	background:linear-gradient(to top ,#999,#FFF);
}
.news span a
{
	display:block;
	width:100px;
	height:40px;
	background:#FFF;
	text-align:center;
	font-size:18px;
}
.news ul li
{
	list-style:none;
	text-indent:100px;
	font-size:16px;
	margin-top:10px;
}


/*********************************服务大厅样式************************************/

#service_loby
{
	width:1150px;
	float:left;
	margin-top:40px;

}	
.search_bar span,.service_bar span
{
	font-size:18px;
	display:block;
	width:100px;
	height:40px;
	border-top:solid 1px #0041cc; 
	text-align:center;
	line-height:40px;
	background-color:#FFF;
}
.search_bar
{
	height:40px;
	width:646px;
	background-image:linear-gradient(to top ,#999,#FFF);
	border-bottom:solid 1px  #0041cc;
}
#search
{
	width:646px;
	height:400px;
	float:left;
	border-right:1px solid #999;

} 
.service_bar
{
	width:500px;
	height:40px;
	background-image:linear-gradient(to top ,#999,#FFF);	
	border-bottom:solid 1px  #0041cc;
}	
#service 
{
	width:500px;
	height:300px;
    float:left;
}


#service ul ,#search ul
{
	float:left;
	margin-left:80px;
} 
#service ul li,#search ul li
{
	
	list-style:none;
}
#service ul li a,#search ul li a
{
	display:block;
	font-size:18px;
	overflow:hidden;
	margin-top:30px;
	height:40px;
	width:100px;
	line-height:40px;
	text-align:center;
	border-radius:15px;
	-moz-border-radius:25px; /* Old Firefox */
}
#service ul li a:hover,#search ul li a:hover
{
	background:#03a9f4;
	color:#FFF;
}